pkginfo==1.11.2
exceptiongroup==1.2.2
Jinja2==3.1.4
lief==0.14.1
optree==0.13.0
nvidia-curand-cu12==10.3.5.147
nvidia-cuda-runtime-cu12==12.4.127
Pygments==2.18.0
nvidia-cudnn-cu12==9.1.0.70
platformdirs==4.3.6
nvidia-cuda-nvrtc-cu12==12.4.127
hypothesis==6.115.3
jsonschema==4.23.0
h2==4.1.0
nvidia-nvtx-cu12==12.4.127
wcwidth==0.2.13
pure_eval==0.2.3
prompt_toolkit==3.0.48
six==1.16.0
conda-libmamba-solver==24.7.0
mamba==1.5.10
hpack==4.0.0
zstandard==0.23.0
pycosat==0.6.6
more-itertools==10.5.0
Brotli==1.1.0
types-dataclasses==0.6.6
ruamel.yaml==0.18.6
menuinst==2.1.2
conda-build==24.9.0
parso==0.8.4
wheel==0.44.0
packaging==24.1
filelock==3.16.1
distro==1.9.0
nvidia-cufft-cu12==11.2.1.3
sortedcontainers==2.4.0
pluggy==1.5.0
beautifulsoup4==4.12.3
jedi==0.19.1
networkx==3.4.1
networkx==3.5
ninja==1.11.1.1
pycparser==2.22
referencing==0.35.1
stack-data==0.6.2
colorama==0.4.6
ipython==8.28.0
executing==2.1.0
click==8.1.7
expecttest==0.2.1
pexpect==4.9.0
PyYAML==6.0.2
nvidia-cusparse-cu12==12.3.1.170
pickleshare==0.7.5
chardet==5.2.0
jsonpointer==3.0.0
urllib3==2.2.3
mpmath==1.3.0
python-etcd==0.4.5
nvidia-cuda-cupti-cu12==12.4.127
cffi==1.17.1
zipp==3.20.2
matplotlib-inline==0.1.7
lintrunner==0.12.5
boltons==24.0.0
psutil==6.0.0
nvidia-nccl-cu12==2.21.5
dnspython==2.7.0
nvidia-cusolver-cu12==11.6.1.9
setuptools==72.1.0
libarchive-c==5.1
nvidia-nvjitlink-cu12==12.4.127
frozendict==2.4.6
requests==2.32.3
torchelastic==0.2.2
jsonpatch==1.33
archspec==0.2.3
attrs==24.2.0
traitlets==5.14.3
ruamel.yaml.clib==0.2.8
truststore==0.9.2
charset-normalizer==3.3.2
rpds-py==0.20.0
pkgutil_resolve_name==1.3.10
hyperframe==6.0.1
asttokens==2.4.1
idna==3.10
pip==24.2
astunparse==1.6.3
conda_index==0.5.0
ptyprocess==0.7.0
PySocks==1.7.1
nvidia-cublas-cu12==12.4.5.8
libmambapy==1.5.10
conda-package-handling==2.3.0
soupsieve==2.5
sympy==1.13.1
==
jsonschema-specifications==2024.10.1
pytz==2024.2
conda_package_streaming==0.10.0
einops-exts==0.0.4
json5==0.12.1
python-dotenv==1.2.1
nvidia-cuda-cupti-cu11==11.7.101
aiosignal==1.4.0
nvidia-curand-cu11==10.2.10.91
nvidia-cusparse-cu11==11.7.4.91
nvidia-cudnn-cu11==8.5.0.96
pfzy==0.3.4
imagebind==1.0.0
trampoline==0.1.2
scikit-learn==1.7.2
huggingface-hub==0.36.0
jsonmerge==1.9.2
pytest-cov==7.0.0
audioread==3.1.0
descript-audiotools==0.7.2
shellingham==1.5.4
einx==0.3.0
virtualenv==20.35.4
jupyter_client==8.6.3
randomname==0.2.1
propcache==0.4.1
terminado==0.18.1
hydra-core==1.3.2
conda==24.11.3
websocket-client==1.9.0
wandb==0.23.1
llvmlite==0.45.1
rotary-embedding-torch==0.8.9
gdown==5.2.0
accelerate==1.11.0
hydra-colorlog==1.2.0
typing-inspection==0.4.2
threadpoolctl==3.6.0
async-lru==2.0.5
importlib_metadata==8.7.0
google-auth==2.42.0
av_bench==1.0.0
transformers==4.57.1
soundfile==0.13.1
tqdm==4.66.2
museval==0.4.0
lit==18.1.8
parameterized==0.9.0
soxr==1.0.0
pyre-extensions==0.0.29
numpy==1.26.4
arrow==1.4.0
peft==0.17.0
regex==2025.10.23
nvitop==1.5.3
auraloss==0.4.0
pre_commit==4.5.0
imageio-ffmpeg==0.5.1
notebook==7.4.7
wget==3.2
lightning-utilities==0.15.2
dctorch==0.1.2
beartype==0.18.5
annotated-types==0.7.0
pathtools==0.1.2
sentry-sdk==2.43.0
tensorboard==2.11.0
absl-py==2.3.1
scipy==1.11.0
proglog==0.1.12
narwhals==2.10.0
yt-dlp==2025.10.22
debugpy==1.8.17
pystoi==0.4.1
fastjsonschema==2.21.2
pytorchvideo==0.1.5
coverage==7.13.0
av==14.4.0
comm==0.2.3
clean-fid==0.1.35
pandas==2.0.2
matplotlib==3.10.7
configparser==7.2.0
aiofiles==23.2.1
resampy==0.4.3
joblib==1.5.2
alias-free-torch==0.0.6
nest_asyncio==1.6.0
easydict==1.13
nvidia-cuda-nvrtc-cu11==11.7.99
hjson==3.1.0
colorlog==6.10.1
jupyterlab_pygments==0.3.0
laion_clap==1.1.6
bleach==6.3.0
lazy_loader==0.4
gmpy2==2.2.1
flatten-dict==0.4.2
torchsde==0.2.6
aiohappyeyeballs==2.6.1
nitrous_ema==0.0.1
docker-pycreds==0.4.0
distlib==0.4.0
groovy==0.1.2
orjson==3.11.4
ema-pytorch==0.2.3
timm==1.0.12
argon2-cffi==25.1.0
julius==0.2.7
Werkzeug==3.1.3
cycler==0.12.1
nbclient==0.10.2
MarkupSafe==2.1.5
termcolor==3.2.0
kornia==0.7.3
triton==3.2.0
triton==3.5.0
starlette==0.49.1
simplejson==3.20.2
ipympl==0.9.8
typer==0.20.0
uvicorn==0.38.0
msgpack==1.1.2
python-json-logger==4.0.0
cachetools==6.2.1
isoduration==20.11.0
safehttpx==0.1.7
iopath==0.1.10
multidict==6.7.0
openai==2.6.1
torchvision==0.21.0+cu124
sniffio==1.3.1
aiohttp==3.13.2
pydantic==2.10.6
fonttools==4.60.1
jupyter-console==6.6.3
gitdb==4.0.12
pyasn1_modules==0.4.2
torchmetrics==0.11.4
braceexpand==0.1.7
numba==0.62.1
tokenizers==0.22.1
torchcodec==0.8.1
nbformat==5.10.4
cmake==4.1.2
decord==0.6.0
pooch==1.8.2
tensorboard-plugin-wit==1.8.1
nvidia-cufile-cu12==1.13.1.3
fqdn==1.5.1
typing-inspect==0.9.0
ftfy==6.3.1
mdurl==0.1.2
defusedxml==0.7.1
fsspec==2024.5.0
rfc3986-validator==0.1.1
widgetsnbextension==4.0.14
uri-template==1.3.0
mir_eval==0.7
rsa==4.9.1
open_clip_torch==2.29.0
bitsandbytes==0.48.1
pyshp==3.0.3
Markdown==3.9
anyio==4.11.0
python-dateutil==2.9.0.post0
stempeg==0.2.6
grpcio==1.76.0
fastapi==0.120.1
tzdata==2025.2
clip-anytorch==2.6.0
PyWavelets==1.4.1
pyaml==25.7.0
pydantic_core==2.27.2
mypy_extensions==1.1.0
argbind==0.3.9
frozenlist==1.8.0
tornado==6.5.2
jupyter_core==5.9.1
tensordict==0.6.1
markdown2==2.5.4
ruff==0.14.2
hf-xet==1.2.0
tomlkit==0.12.0
Pillow==9.5.0
Pillow==9.4.0
SAM-2==1.0
markdown-it-py==2.2.0
contourpy==1.3.2
tabulate==0.9.0
setproctitle==1.3.7
oauthlib==3.3.1
safetensors==0.4.3
pyparsing==3.2.5
nvidia-cufft-cu11==10.9.0.58
pyloudnorm==0.1.1
moviepy==1.0.3
altair==5.5.0
v-diffusion-pytorch==0.0.2
certifi==2025.11.12
importlib-resources==5.12.0
jupyter-events==0.12.0
protobuf==6.33.2
docstring_parser==0.17.0
jupyter-lsp==2.3.0
pyzmq==27.1.0
annotated-doc==0.0.3
gradio==5.49.1
h5py==3.15.1
tensorboard-data-server==0.6.1
babel==2.17.0
smmap==5.0.2
websockets==15.0.1
jupyter_server==2.17.0
sentencepiece==0.1.99
typing_extensions==4.15.0
identify==2.6.15
torch-stoi==0.2.3
k-diffusion==0.1.1
shapely==2.1.2
encodec==0.1.1
msclap==1.3.3
nvidia-nvtx-cu11==11.7.91
torchdiffeq==0.2.5
portalocker==3.2.0
pytorch-lightning==2.1.0
vector-quantize-pytorch==1.14.41
yacs==0.1.8
py-cpuinfo==9.0.0
jiter==0.11.1
types-regex==2025.11.3.20251106
ffmpy==0.6.4
loguru==0.7.2
pyproj==3.7.2
jupyterlab_widgets==3.0.15
nvidia-cuda-runtime-cu11==11.7.99
uc-micro-py==1.0.3
descript-audio-codec==1.0.0
requests-oauthlib==2.0.0
h11==0.16.0
iniconfig==2.3.0
eva-decord==0.6.1
decorator==4.4.2
tifffile==2025.10.16
flash_attn==2.5.9.post1
librosa==0.11.0
pandocfilters==1.5.1
Cython==3.1.6
torch==2.6.0+cu124
nvidia-nccl-cu11==2.14.3
torchlibrosa==0.1.0
stable-audio-tools==0.0.19
diffusers==0.36.0
deepspeed==0.18.2+02da3732
webdataset==0.2.100
progressbar==2.5
nbconvert==7.16.6
future==1.0.0
jupyterlab==4.4.10
pytube==15.0.0
antlr4-python3-runtime==4.9.3
gradio_client==1.13.3
kiwisolver==1.4.9
webencodings==0.5.1
mistune==3.1.4
ipykernel==7.1.0
linkify-it-py==2.0.3
fvcore==0.1.5.post20221221
scikit-image==0.24.0
passt==1.0.0
mmaudiosep==1.0.0
rich==14.2.0
yarl==1.22.0
webcolors==24.11.1
rfc3339-validator==0.1.4
GitPython==3.1.0
appdirs==1.4.4
pydub==0.25.1
einops==0.8.1
jupyter_server_terminals==0.5.3
cfgv==3.5.0
cloudpickle==3.1.1
imageio==2.37.0
httpx==0.28.1
clip==1.0
gin-config==0.5.0
nvidia-cusolver-cu11==11.4.0.1
opencv-python==4.9.0.80
nvidia-ml-py==13.580.82
omegaconf==2.3.0
python-multipart==0.0.20
argparse==1.4.0
inquirerpy==0.3.4
httpcore==1.0.9
local-attention==1.8.6
kornia_rs==0.1.9
jupyterlab_server==2.28.0
musdb==0.4.3
notebook_shim==0.2.4
Send2Trash==1.8.3
prometheus_client==0.23.1
pytest==9.0.2
torchaudio==2.6.0+cu124
overrides==7.7.0
argon2-cffi-bindings==25.1.0
nvidia-cusparselt-cu12==0.6.2
google-auth-oauthlib==0.4.6
Cartopy==0.25.0
tinycss2==1.4.0
jupyter==1.1.1
nodeenv==1.9.1
ipywidgets==8.1.7
fire==0.7.1
nvidia-nvshmem-cu12==3.3.20
mdit-py-plugins==0.3.3
pyasn1==0.6.1
semantic-version==2.10.0
tensorboardX==2.6.4
nvidia-cublas-cu11==11.10.3.66
ffmpeg-python==0.2.0
prefigure==0.0.9
pytest-env==1.2.0
zipp==3.19.2
importlib_metadata==8.0.0
packaging==24.1
wheel==0.43.0
platformdirs==4.2.2
tomli==2.0.1
jaraco.text==3.12.1
backports.tarfile==1.2.0
importlib_resources==6.4.0
typeguard==4.3.0
more-itertools==10.3.0
jaraco.context==5.3.0
typing_extensions==4.12.2
inflect==7.3.1
autocommand==2.2.2
ordered-set==4.1.0
jaraco.functools==4.0.1
